* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    padding: 1rem 2rem;
    height: 100vh;
    background-color: #3f83d2;
    color: #fff;
}

.sidebar-title, .sidebar-home, .sidebar-profile, .sidebar-messages, .sidebar-history, .sidebar-tasks, .sidebar-communities, .sidebar-settings, .sidebar-support, .sidebar-privacy {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1.2px;
}

.sidebar-title {
    font-size: 18px;
}


.sidebar-title, .sidebar-communities {
    margin-bottom: 60px;
}

.sidebar i {
    font-size: 22px;
}

.bi-windows {
    font-size: 24px;
}