* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: 1fr 5fr;
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
    height: 100vh;
    background-color: #1992d4;
    color: #fff;
}

.sidebar-link {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 12px;
}

.sidebar-icon {
    font-size: 20px;
}

.mdi-view-dashboard {
    font-size: 44px;
}

.sidebar-heading, .sidebar-space {
    margin-bottom: 30px;
}

.sidebar-heading {
    font-size: 18px;
    font-weight: 200;
}



.dashboard-homebar {
    display: flex;
    border: 2px solid black;
    width: 100%;
}

.dashboard-homebar > * {
    border: 2px solid black;
}

img {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
}