* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
    max-height: 100%;
    background-color: #1992d4;
    color: #fff;
}

.sidebar-link {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 12px;
}

.sidebar-icon {
    font-size: 20px;
}

.mdi-view-dashboard {
    font-size: 44px;
}

.sidebar-heading, .sidebar-space {
    margin-bottom: 30px;
}

.sidebar-heading {
    font-size: 18px;
    font-weight: 200;
}

.dashboard {
    display: grid;
    grid-template-rows: 1fr 3.5fr;
}

.dashboard-homebar {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Box shadow */
}

.dashboard-homebar-top-search, .dashboard-homebar-top-notification {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 10px 20px;
}

.dashboard-homebar-top-notification {
    gap: 20px;
}

.dashboard-homebar-top {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 10px 20px;
    margin-bottom: 10px;
}


.mdi-bell-ring-outline {
    font-size: 26px;
}

.mdi-magnify {
    font-size: 26px;
}

.top-notification-username {
    font-weight: 600;
    font-size: 18px;
}

.top-search-search {
    width: 750px;
    font-size: 28px;
    border-radius: 15px;
    background-color: #dedede;
    outline: none;
    border: none;
}

.top-notification-img {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.dashboard-homebar-bottom {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}

.dashboard-homebar-bottom-profile {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 0.5;
}

.dashboard-homebar-bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex: 0.4;
}

.bottom-buttons {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #1992d4;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.dashboard-homebar-bottom-profile-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dashboard-homebar-bottom-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}


.dashboard-body {
    background-color: rgba(226, 232, 240, 255);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 20px 40px 20px;
    max-height: 100%;
}


.project-display {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 20px;
}

.project-display-heading {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}

.project-display-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    background-color: white;
    width: 48%;
    height: 180px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 5px;
    min-width: 265px;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(left, #88c7ff, #88c7ff 2%, transparent 2%, transparent 100%);
    background-image: -webkit-linear-gradient(left, #FFD700, #FFD700 2%, transparent 2%, transparent 100%);;
}

.project-heading {
    font-weight: 500;
    font-size: 16px;
}

.project-description {
    font-size: 13px;
    color: rgb(88, 88, 88);
}

.interactions {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.interact-option {
    margin-left: 20px;
    font-size: 30px;
}

.announcements-section {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-bottom: 10px;
}

.announcements-section-heading {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 10px;
}

.announcements-container {
    background-color: white;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    padding: 20px 20px 20px 25px;
    border-radius: 5px;
    min-width: 231px;
}


.announcements-heading {
    font-weight : 500;
    font-size: 13px;
    margin-bottom: 3px;
}

.announcements-description {
    font-size: 11px;
    color: rgb(88, 88, 88);
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 2px -2px rgb(175, 175, 175);
    
}

.trending-profiles-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trending-container {
    background-color: white;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    padding: 20px 20px 6px 25px;
    border-radius: 5px;
    min-width: 231px;
}

.trending-profile {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.trending-profile img {
    margin-right: 10px;
}
.profile-pic-small {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgb(197, 197, 197);
}

.trending-username {
    font-size: 12px;
    font-weight: 400px;
}

.trending-project {
    font-size: 12px;
    color: rgb(88, 88, 88);
}